<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<ul class="menu">
    <li><a href="#!/jaerbi1">jaerbi-1</a></li>
    <li><a href="#!/jaerbi">jaerbi</a></li>
</ul>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view></div>



<div style="margin: 0 0 0 15px" ng-controller="mainCtrl as vm">
    <h1>{{vm.hello}}</h1>
    <button class="button" ng-click="vm.changeW()">Change</button>

    <input type="text" ng-model="vm.hello">
    <div>
        <p>Type some text: </p>
        <input type="text" ng-model="vm.search" placeholder="search">
    </div>
    <div style="display: flex">
        <div style="padding: 5px; border: 1px solid darkred;" ng-repeat="fruit in vm.fruits | filter: vm.search " id="{{fruit.id}}">
            <p>
                {{fruit.name}} - {{fruit.number}}
                <input type="checkbox" ng-click="vm.changeRipe(fruit.id)">
            </p>
            <button class="button" ng-click="vm.destpoyX(fruit)">X</button>
            <span ng-if="fruit.ripe" class="boxS" style="background: crimson; display: block;"></span>
        </div>
    </div>

</div>



<div style="position: absolute; bottom: 0;">AngularJS seed app: v<span app-version></span></div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="jaerbi/jaerbi.js"></script>
<script src="core/version/version.js"></script>
<script src="core/version/version-directive.js"></script>
<script src="core/version/interpolate-filter.js"></script>
</body>
</html>
